<p class="links">
  {% if site.resume_link %}<a href="/resume.pdf" target="_new"><i class="fa fa-file-text"></i></a> {% endif %}
  {% if site.mail %}<a href="mailto:{{ site.mail }}" target="_new"><i class="fa fa-at"></i></a> {% endif %}
  {% if site.linkedin_link %}<a href="{{ site.linkedin_link }}" target="_new"><i class="fa fa-linkedin"></i></a>{% endif %}
  {% if site.github_username %}<a href="https://github.com/{{ site.github_username }}" target="_new"><i class="fa fa-github-alt"></i></a>{% endif %}
</p>
